

.body {
    background: white;
}

.container {
    width: 90%;
  margin: auto;
  margin-top: 1em;
 
  
}
.header{
   
  width: 90%;
  margin: auto;
  margin-top: 1em;
  border-bottom: 1px solid lightgrey;

}
.header_title{
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.header_subtitle{
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.big-button{
   
}