:root{
    --primary: #20222b;
    --light:#a5afd7;
    --font:white;
    --mSize:1.6rem;
    --lSize:3.2rem;
    --xlSize:4.8rem;
  }
.header{
    background: var(--primary);
    color:var(--font);
    margin-bottom: 4rem;
    padding: var(--mSize) 0;
   

}
.header_title{
    font-size: var(--lSize);
    margin: 0;
}
.header_subtitle{
    color:var(--light);
    font-size:var(--mSize);
    font-weight:500;
    margin:0;
}
