.container-box{
    display: flex;
    justify-content: center;
}
.container{
    display: block;
    text-align: center;
    padding: 10px;
    line-height: 2rem;
    width : 500px;
    height: 300px;

  
}
.item{
    display: block;
    padding:  1rem;
    margin: 0.5rem;
  
}
